<div class="edit_post">
  <h1> <%= @post.title %></h1>

  <%= render partial: 'shared/errors', locals: {model: @post} %>

  <%= form_for @post, url: {action: "update"} do |f| %>

    <%= f.label :content %><br />
    <%= f.text_area :content, size: "50x30" %><br />

    <%= f.button :submit %>
  <% end %>
  <div class='return_btn'><%= link_to 'Return', @post %></div>

  <div class="delete_form">
  <p> Delete post: </p>
  <%= link_to "DELETE", @post, method: :delete,
                                   data: { confirm: "You sure? :c"} %>
  </div>
</div>
