<h1> <%= @post.title %></h1>

<%= form_for @post, url: {action: "update"} do |f| %>

  <%= f.label :content %><br />
  <%= f.text_area :content %><br />

  <%= f.button :submit %>
<% end %>
<%= link_to 'Return', @post %>
